*{
	margin: 0;
	padding: 0;
}
/*head  结束*/
.head a{
	font-size: 30px;
	color: #0A419B;
	text-decoration: none;	
}
.head{
	width: 370px;
	height: 75px;
	margin: 0 auto;	
	padding-top: 120px;
}
/*head 结束*/
/*main  开始*/
.body{
	width: 435x;
	margin: 0 auto;
}
table input[type='text']{
    width: 300px;
    height: 25px;
    border-radius: 5px;
    text-indent: 10px;
    border: 1px solid #999;
}
table input[type='password']{
    width: 300px;
    height: 25px;
    border-radius: 5px;
    text-indent: 10px;
    border: 1px solid #999;
}

table th{
    width: 150px;
}
table #btn{
    height: 45px;
    width: 100px;
    background: pink;
    color: #fff;
    border-radius: 5px;
}